@import url(https://js.cybozu.com/font-awesome/v4.7.0/css/font-awesome.min.css);

.japan_year_select {
    display: inline;
    margin-left: 15px;
    border: 1px solid #ccc;
    padding: 10px;
}

.japan_year_select select {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 90%;
}

.japan_year_select button {
    border: none;
    background: none;
    color: #3498db;
    font-size: 80%;
}